* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  padding: 15px;
  font-weight: 500;
  text-transform: capitalize;
  color: white;
}

.container {
  width: 100%;
  height: 100vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  gap: 20px;
  width: 80%;
  background-color: aqua;
  padding: 24px;
  border-radius: 20px;
  justify-content: space-around;
}
.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.black {
  background-color: black;
}